<html>

  <head>
    <title>
      Rust with Actix and Handlebars Test
    </title>
  </head>

  <body>
    <h1>Welcome {{name}}!</h1>
    This example uses the slim &amp; fast
    <a href="https://github.com/actix/actix-web" target="_blank">actix-web</a> framework.
    <br /> Furthermore
    <a href="https://github.com/sunng87/handlebars-rust" target="_blank">handlebars-rust</a> is used for HTML rendering.

  </body>

</html>